<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" class="py-3" opened>
        <div class="addProject my-2" id="addButton">
            <button (click)="addProjectDisplay()"   mat-button>
                <mat-icon>add</mat-icon>
                Add Project
            </button>
        </div>

        <div *ngFor="let project of projects,let idx=index" class="addProject my-3"  id="pro{{idx}}"> 
            <button (click)="projectDisplay(idx)"  mat-button>
                <mat-icon>work</mat-icon>
                {{project.name}}
            </button>
        </div>

    </mat-sidenav>
    <mat-sidenav-content>
        <div *ngIf="addProject" class="m-3">
            <div class="m-auto ">
                <div >
                    <span class="fs-4 pt-5 mx-3 fw-bold" >
                      Add new Project
                    </span>
                </div>
                <div class="pt-3 ">
                    <mat-form-field style="width: 30%;"   appearance="outline">
                        <mat-label >Project Name</mat-label>
                        <input [(ngModel)]="projectDetails.name" name="name" id="name" type="text" class="form-control" matInput>
                    </mat-form-field>
                    <mat-form-field style="width: 80%;" appearance="outline">
                        <mat-label >Project description</mat-label>
                        <textarea [(ngModel)]="projectDetails.description" name="description" id="description" type="text" class="form-control"matInput></textarea>
                    </mat-form-field>
                </div>
                <div class="center" style="width: 40%;">    
                    <button  class="mx-2" type="button" (click)="addProjectDetails()"   style="align-content: center;width: 30%" mat-raised-button color="primary" >
                        Add Project
                      </button>
                    <button  class="mx-2" type="button"  (click)="reset()"   style="align-content: center;width: 30%" mat-raised-button color="accent" >
                        Reset Details
                    </button>

                </div>          
            </div>
        </div>    
        <div *ngIf="!addProject" class="m-3">
            <div class="m-auto">
                <div>
                    <div class="projectName py-3">
                        <span class="fs-4 pt-3 mx-3 fw-bold " >
                            <!-- {{projectDisplayIdx}} -->
                        {{projects[projectDisplayIdx].name}}
                        <mat-icon class="fs-6" *ngIf="editDetailsDesabled"  (click)="editDescription(projectDisplayIdx)">edit</mat-icon>
                        <mat-icon class="fs-6" *ngIf="!editDetailsDesabled"  (click)="saveDescription(projectDisplayIdx)">save</mat-icon>
                        </span>
                        <button [disabled]="!teamMember" (click)="showTeamMember()"   mat-button>
                            <mat-icon>group_work</mat-icon>
                            Team 
                        </button>
                        <button [disabled]="!task" (click)="showTask()"   mat-button>
                            <mat-icon> list</mat-icon>
                            Task
                        </button>
                        <button [disabled]="!effort" (click)="showEffort()"   mat-button>
                            <mat-icon>donut_small</mat-icon>
                            Effort
                        </button>
                    </div>
                    <div class="pt-3 ">
                        <mat-form-field style="width: 80%;" appearance="outline">
                            <mat-label >Project description</mat-label>
                            <textarea [disabled]="editDetailsDesabled" [(ngModel)]="projects[projectDisplayIdx].description" name="description" id="description" type="text" class="form-control"matInput></textarea>
                        </mat-form-field>
                       
                    </div>
                </div> 
                <div *ngIf="!teamMember" class="mt-1">
                    <div class="projectName py-3">
                        <span class="fs-4 pt-5 mx-3 fw-bold " >
                            <!-- {{projectDisplayIdx}} -->
                        Team Mamber List
                        </span>
                    </div>
                    <div class="pt-3 ">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
                          
                            <!-- Position Column -->
                            <ng-container matColumnDef="id">
                              <th mat-header-cell *matHeaderCellDef> Id </th>
                              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef> Name </th>
                              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                          
                            
                            <!-- Weight Column -->
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                              </ng-container>
                            <!-- Weight Column -->
                            <ng-container matColumnDef="businessTitle">
                              <th mat-header-cell *matHeaderCellDef> Title </th>
                              <td mat-cell *matCellDef="let element"> {{element.businessTitle}} </td>
                            </ng-container>
                          
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                    </div>
                </div>
                <div *ngIf="!task" class="mt-1">
                    <div class="projectName py-3">
                        <span class="fs-4 pt-5 mx-3 fw-bold " >
                            <!-- {{projectDisplayIdx}} -->
                        Task List
                        </span>
                    </div>
                    <div class="pt-3 ">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
                          
                            <!-- Position Column -->
                            <ng-container matColumnDef="id">
                              <th mat-header-cell *matHeaderCellDef> Id </th>
                              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef> Name </th>
                              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                          
                            
                            <!-- Weight Column -->
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                              </ng-container>
                            <!-- Weight Column -->
                            <ng-container matColumnDef="businessTitle">
                              <th mat-header-cell *matHeaderCellDef> Title </th>
                              <td mat-cell *matCellDef="let element"> {{element.businessTitle}} </td>
                            </ng-container>
                          
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                    </div>
                </div>
                <div *ngIf="!effort" class="mt-1">
                    <div class="projectName py-3">
                        <span class="fs-4 pt-5 mx-3 fw-bold " >
                            <!-- {{projectDisplayIdx}} -->
                        Effort Management
                        </span>
                    </div>
                    <div class="pt-3 ">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
                          
                            <!-- Position Column -->
                            <ng-container matColumnDef="id">
                              <th mat-header-cell *matHeaderCellDef> Id </th>
                              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef> Name </th>
                              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                          
                            
                            <!-- Weight Column -->
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                              </ng-container>
                            <!-- Weight Column -->
                            <ng-container matColumnDef="businessTitle">
                              <th mat-header-cell *matHeaderCellDef> Title </th>
                              <td mat-cell *matCellDef="let element"> {{element.businessTitle}} </td>
                            </ng-container>
                          
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>
                    </div>
                </div>
            </div>

        </div>
            
        
    </mat-sidenav-content>
  </mat-sidenav-container>
  